*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

:root
{
    --clr-pink: #f28ab2;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --clr-grey-8: hsl(211, 39%, 23%);
    --fixed-width:450px;
    --clr-grey-4: hsl(209, 23%, 60%);
    --spacing: 0.1rem;
}

body
{
    background-color: var(--clr-pink);
    color: var(--clr-grey-8);
    line-height: 1.5;
    font-size: 0.875rem;
}

main
{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 85vw;
    background-color: white;
    max-width: var(--fixed-width);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    margin:10px 0 0px 0;
    

}

.container h3
{
    color: var(--clr-grey-4);
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    text-align: center;
    letter-spacing: var(--spacing);

}

.person
{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.80rem;
    margin-bottom: 1.5rem;
    align-items: center;

}
.person img
{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--light-shadow);
}

.container button
{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: .80rem;
    background-color: var(--clr-pink);
    text-transform: capitalize;
    letter-spacing:var(--spacing);
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
}