.container {
    max-width: 1000px;
    margin: 0 auto;
}

.contentcontainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.projectcontainer {
    background-color: #E7E3E4;
    min-height: 180px;
    padding: 1.2rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.projectcontainer h4 {
    letter-spacing: 1px;
    text-transform:capitalize;
    color:black;
    font-size: 1rem;
}


.projectcontainer p {
    font-size: 0.8rem;
    color:black;
    letter-spacing: 1px;
   
}

.visitbutton {
    background-color:black;
    padding: 0.4rem 0.6rem;
    border: none;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


@media screen and (max-width:634px) {
    .gridcontainer{
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media screen and (max-width:410px) {
    .gridcontainer{
        grid-template-columns: repeat(1 ,1fr);
    }
}

/* Style - regular */
/* Font - century */
/* Font - calibri */
/* Font - garamond */