
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.contentcontainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
}

.gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.skillcontainer{
    background-color:white;
    text-align: left;
    padding: 1rem 2rem;
    border-radius:2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.skillname{
    letter-spacing: 1.2px;
    text-transform:capitalize;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.skillcontainer li{
    font-size: 0.8rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: black;
}


@media screen and (max-width:634px) {
    .gridcontainer{
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media screen and (max-width:410px) {
    .gridcontainer{
        grid-template-columns: repeat(1 ,1fr);
    }
}

