.navlink{
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;
}

.navlinksm
{
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;
    display: none;
}

.active{
    color: blueviolet;
}

.navitem{
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: black;
    /* font-weight: 600; */
    text-transform:uppercase;
}

@media screen and (max-width:624px) {
    .navlink {
       display: none;
    }

    .navlinksm
    {
        display: block;
        display: flex;
        gap: 1.4rem;
        justify-content: center;
        align-items: center;

    }

}
