@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Fira+Code:wght@500&display=swap');


* {
    box-sizing: border-box;
    font-family: Arsenal;
    margin: 0;
    padding: 0;

}

body {
    background-color: white;
}

#navbar {
    max-width: 1000px;
    background-color: white;
    padding: 1.5rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo-heading
{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.logo-heading::first-letter{
    color: blueviolet;
}

@media screen and (max-width:380px) {
    #navbar {
        justify-content: center;
        gap: 2rem;
    }
}

.nav {
    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
}

#navbar a {
    text-decoration: none;
}



main {
    width: 90vw;
    max-width: 1000px;
    margin-inline: auto;
    background-color: aliceblue;
    text-align: left;
    height: 300px;
    padding: 1rem;
}




.home {
    background-color: black;
    max-width: 300px;
    /* margin-inline: auto; */
    color: white;
    text-align: left;
    padding: 1rem;
}


#error {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 16px;
}